# IDE / Editor
.vscode/
.idea/
.DS_Store

# Dependencies (NEVER upload these, they are huge!)
node_modules/

# Production build (the folder created when you run npm run build)
dist/

# API Keys and Secrets (THE MOST IMPORTANT PART)

# Ghost file from earlier
config.js